$size: 15px;

.main{
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: $size;


    &::after{
        position: absolute;
        content: "";
        width: calc(100%);
        height: calc(100%);
        border: $size solid #af3a3a;
        border-radius: $size;
        left: -$size;
        z-index: -1;
    }    
}

.button__start{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.main__simbol{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: $size;

    & > span{
        font-size: 1.2rem;
        font-weight: bold;
    }
}


.column{
    flex-direction: column;
    width: $size;
    height: 100%;
    left: -$size;
}
.row{
    bottom: -$size;
}






