.image__piece{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    cursor: pointer;
}

.position__available{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.position__available::after{
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.position__available--eat{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.position__available--eat::after{
    position: absolute;
    content: "";
    width: 95%;
    height: 95%;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 10px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.piece__selected--to-move{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: yellow;
    opacity: 0.5;
}

.piece__move--show{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 183, 255);
    opacity: 0.5;
}

.king__is--checked{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0px 0px 20px 15px rgb(255 0 0 / 70%);
    background-color: white;
}