:root{
  --dark-color:  #0C1013;
  --text-white: white;
  --text-gray: #9b9d9f;
  --max-width: 1400px;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection{
  background-color: rgb(255, 105, 180, 0.65);
}

html{
  font-size: 62.5%;
  // font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  //font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: 400px;
  background-color: var(--dark-color);
}

#__next{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

#APP{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}


p,
a,
li,
span,
h3{
  font-size: 1.5rem;
  color: var(--text-white);
}

a{
  cursor: pointer;
  text-decoration: none;
}

li{
  list-style: none;
}